apiVersion: v1
kind: ServiceAccount
metadata:
  name: environment-exposer
  namespace: pair-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: environment-exposer
  namespace: "${SHARINGIO_PAIR_INSTANCE_SETUP_USERLOWERCASE}"
rules:
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - create
      - delete
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - get
      - list
      - create
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: environment-exposer
  namespace: "${SHARINGIO_PAIR_INSTANCE_SETUP_USERLOWERCASE}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: environment-exposer
subjects:
  - kind: ServiceAccount
    name: environment-exposer
    namespace: pair-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: environment-exposer
  namespace: pair-system
spec:
  selector:
    matchLabels:
      app: environment-exposer
  template:
    metadata:
      labels:
        app: environment-exposer
    spec:
      serviceAccountName: environment-exposer
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      securityContext:
        fsGroup: 1000
      containers:
        - name: environment-exposer
          image: registry.gitlab.com/sharingio/environment/exposer:2022.01.19.1542
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
          env:
            - name: APP_EXPORTER_ENDPOINT
              value: "http://environment-exporter.${SHARINGIO_PAIR_INSTANCE_SETUP_USERLOWERCASE}:10093"
            - name: APP_EXTERNAL_IP
              value: ${KUBERNETES_CONTROLPLANE_ENDPOINT}
            - name: APP_ENVIRONMENT_NAMESPACE
              value: "${SHARINGIO_PAIR_INSTANCE_SETUP_USERLOWERCASE}"
            - name: APP_ENVIRONMENT_BASE_DOMAIN
              value: ${SHARINGIO_PAIR_INSTANCE_SETUP_BASEDNSNAME}
          volumeMounts:
            - name: template-folder
              mountPath: /home/ii/
              readOnly: true
      volumes:
        - name: template-folder
          hostPath:
            path: /home/ii/
